<p id = "text"></p>

<script type="text/javascript">
$.ajax({
    url: "http://railsapiback.herokuapp.com/authenticate",
    type: 'POST',
    dataType: 'json',
    contentType: 'application/json',
    processData: false,
    data: '{"email":"isthisworking@isthisworking.com","password":"isthisworking"}',
    success: function (data) {
      result = JSON.stringify(data);
      console.log(result);
      document.getElementById('text').innerHTML = result;
    },
    error: function(){
      alert("Cannot get data");
    }
});

</script>